h1{
    font-size: 16px;
    text-align: center;
}

li{
    
    background-color: #ebe645;
    list-style-type: none;
    /* burada yazının üstünü çizdik text decoration nın bir çok çizgi özelliğide var.. */
    text-decoration: line-through;
}